<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Altschool Blog | Landing</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <p>Welcome to the Altschool Blog</p>
  
  <script src="main.js"></script>
</body>
</html>
