<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Altschool Blog | Login</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <form action="/login" method="post">
    <!-- Email Input-->
    <label>Email</label>
    <input 
      type="text" 
      name="email" 
      placeholder="Email" 
      required 
    />
    
    <!-- Password Input -->
    <label>Password</label>
    <input
      type="password"
      name="password"
      placeholder="Password"
      required
    />
    
    <!-- Submit Button -->
    <button type="submit">Login</button>

    <a href="/signup">Signup</a>
  </form>
  
  <script src="main.js"></script>
</body>
</html>
